In [1]:
import pandas as pd

In [10]:
df = pd.read_csv("okcupid_profiles.csv")
print("shape:", df.shape)
df.columns.tolist()

shape: (59946, 31)

['age',
 'status',
 'sex',
 'orientation',
 'body_type',
 'diet',
 'drinks',
 'drugs',
 'education',
 'ethnicity',
 'height',
 'income',
 'job',
 'last_online',
 'location',
 'offspring',
 'pets',
 'religion',
 'sign',
 'smokes',
 'speaks',
 'essay0',
 'essay1',
 'essay2',
 'essay3',
 'essay4',
 'essay5',
 'essay6',
 'essay7',
 'essay8',
 'essay9']

In [11]:
df.head(5).T

,0,1,2,3,4
age,22,35,38,23,29
status,single,single,available,single,single
sex,m,m,m,m,m
orientation,straight,straight,straight,straight,straight
body_type,a little extra,average,thin,thin,athletic
diet,strictly anything,mostly other,anything,vegetarian,NaN
drinks,socially,often,socially,socially,socially
drugs,never,sometimes,NaN,NaN,never
education,working on college/university,working on space camp,graduated from masters program,working on college/university,graduated from college/university
ethnicity,"asian, white",white,NaN,white,"asian, black, other"
height,75.0,70.0,68.0,71.0,66.0
income,-1,80000,-1,20000,-1
job,transportation,hospitality / travel,NaN,student,artistic / musical / writer
last_online,2012-06-28-20-30,2012-06-29-21-41,2012-06-27-09-10,2012-06-28-14-22,2012-06-27-21-26
location,"south san francisco, california","oakland, california","san francisco, california","berkeley, california","san francisco, california"
offspring,"doesn't have kids, but might want them","doesn't have kids, but might want them",NaN,doesn't want kids,NaN
pets,likes dogs and likes cats,likes dogs and likes cats,has cats,likes cats,likes dogs and likes cats
religion,agnosticism and very serious about it,agnosticism but not too serious about it,NaN,NaN,NaN
sign,gemini,cancer,pisces but it doesn&rsquo;t matter,pisces,aquarius
smokes,sometimes,no,no,no,no
speaks,english,"english (fluently), spanish (poorly), french (...","english, french, c++","english, german (poorly)",english
essay0,about me: i would love to think that i was so...,i am a chef: this is what that means. 1. i am ...,"i'm not ashamed of much, but writing public te...",i work in a library and go to school. . .,hey how's it going? currently vague on the pro...
essay1,currently working as an international agent fo...,dedicating everyday to being an unbelievable b...,"i make nerdy software for musicians, artists, ...",reading things written by old dead people,work work work work + play
essay2,making people laugh. ranting about a good salt...,being silly. having ridiculous amonts of fun w...,improvising in different contexts. alternating...,playing synthesizers and organizing books acco...,creating imagery to look at: http://bagsbrown....
essay3,"the way i look. i am a six foot half asian, ha...",NaN,my large jaw and large glasses are the physica...,socially awkward but i do my best,i smile a lot and my inquisitive nature
essay4,"books: absurdistan, the republic, of mice and ...",i am die hard christopher moore fan. i don't r...,okay this is where the cultural matrix gets so...,"bataille, celine, beckett. . . lynch, jarmusch...","music: bands, rappers, musicians at the moment..."
essay5,food. water. cell phone. shelter.,delicious porkness in all of its glories. my b...,movement conversation creation contemplation t...,NaN,NaN
essay6,duality and humorous things,NaN,NaN,cats and german philosophy,NaN
essay7,trying to find someone to hang out with. i am ...,NaN,viewing. listening. dancing. talking. drinking...,NaN,NaN
essay8,i am new to california and looking for someone...,i am very open and will share just about anyth...,"when i was five years old, i was known as ""the...",NaN,NaN
essay9,you want to be swept off your feet! you are ti...,NaN,"you are bright, open, intense, silly, ironic, ...",you feel so inclined.,NaN

In [12]:
(df.isna().mean().sort_values(ascending=False) * 100).round(1)

offspring      59.3
diet           40.7
religion       33.7
pets           33.2
essay8         32.1
drugs          23.5
essay6         23.0
essay9         21.0
essay7         20.8
essay3         19.1
sign           18.4
essay5         18.1
essay4         17.6
essay2         16.1
job            13.7
essay1         12.6
education      11.1
ethnicity       9.5
smokes          9.2
essay0          9.2
body_type       8.8
drinks          5.0
speaks          0.1
height          0.0
status          0.0
location        0.0
last_online     0.0
income          0.0
orientation     0.0
sex             0.0
age             0.0
dtype: float64

In [16]:
essay_cols = [f"essay{i}" for i in range(10)]  # essay0 to essay9

# Replace NaNs with empty strings so join works cleanly
for col in essay_cols:
    df[col] = df[col].fillna("")

# Join into one string per row, with a separator
df["bio_text"] = df[essay_cols].agg(" <e> ".join, axis=1)

df[["bio_text"]].head(5)

                                            bio_text
0  about me:  i would love to think that i was so...
1  i am a chef: this is what that means. 1. i am ...
2  i'm not ashamed of much, but writing public te...
3  i work in a library and go to school. . . <e> ...
4  hey how's it going? currently vague on the pro...

In [17]:
!pip -q install sentence-transformers

WARNING: You are using pip version 22.0.4; however, version 25.2 is available.
You should consider upgrading via the 'C:\Users\veera\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip' command.

In [18]:
from sentence_transformers import SentenceTransformer
import numpy as np

model = SentenceTransformer("sentence-transformers/all-MiniLM-L6-v2")

modules.json:   0%|          | 0.00/349 [00:00<?, ?B/s]

C:\Users\veera\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\huggingface_hub\file_download.py:143: UserWarning: `huggingface_hub` cache-system uses symlinks by default to efficiently store duplicated files but your machine does not support them in C:\Users\veera\.cache\huggingface\hub\models--sentence-transformers--all-MiniLM-L6-v2. Caching files will still work but in a degraded version that might require more space on your disk. This warning can be disabled by setting the `HF_HUB_DISABLE_SYMLINKS_WARNING` environment variable. For more details, see https://huggingface.co/docs/huggingface_hub/how-to-cache#limitations.
To support symlinks on Windows, you either need to activate Developer Mode or to run Python as an administrator. In order to activate developer mode, see this article: https://docs.microsoft.com/en-us/windows/apps/get-started/enable-your-device-for-development
  warnings.warn(message)

config_sentence_transformers.json:   0%|          | 0.00/116 [00:00<?, ?B/s]

README.md: 0.00B [00:00, ?B/s]

sentence_bert_config.json:   0%|          | 0.00/53.0 [00:00<?, ?B/s]

config.json:   0%|          | 0.00/612 [00:00<?, ?B/s]

Xet Storage is enabled for this repo, but the 'hf_xet' package is not installed. Falling back to regular HTTP download. For better performance, install the package with: `pip install huggingface_hub[hf_xet]` or `pip install hf_xet`

model.safetensors:   0%|          | 0.00/90.9M [00:00<?, ?B/s]

tokenizer_config.json:   0%|          | 0.00/350 [00:00<?, ?B/s]

vocab.txt: 0.00B [00:00, ?B/s]

tokenizer.json: 0.00B [00:00, ?B/s]

special_tokens_map.json:   0%|          | 0.00/112 [00:00<?, ?B/s]

config.json:   0%|          | 0.00/190 [00:00<?, ?B/s]

In [19]:
df = df.reset_index().rename(columns={"index":"user_id"})
corpus = df["bio_text"].fillna("").astype(str).str.strip().tolist()

In [20]:
# normalize_embeddings=True makes vectors unit-length,
# so cosine similarity = dot product
embeddings = model.encode(
    corpus,
    batch_size=64,
    show_progress_bar=True,
    convert_to_numpy=True,
    normalize_embeddings=True
)  # shape: (n_users, 384)

# save for reuse (avoid recomputing)
np.save("okcupid_sbert_embeddings.npy", embeddings)

Batches:   0%|          | 0/937 [00:00<?, ?it/s]

In [22]:
from numpy.linalg import norm

E = embeddings  # alias

def top_k_semantic_neighbors(user_id, k=5):
    # map user_id -> row index
    i = df.index[df["user_id"] == user_id][0]
    # dot with everyone (cosine, since normalized)
    sims = E @ E[i]
    sims[i] = -1  # exclude self
    # top-k indices
    idx = np.argpartition(-sims, k)[:k]
    idx = idx[np.argsort(-sims[idx])]
    out = df.loc[idx, ["user_id","age","sex","orientation","location"]].copy()
    out["score"] = sims[idx]
    return out

top_k_semantic_neighbors(user_id=1234, k=5)

       user_id  age sex orientation                   location     score
44713    44713   23   m    straight        hayward, california  0.593896
10612    10612   28   m         gay  san francisco, california  0.564325
30903    30903   22   m    straight         novato, california  0.560441
31197    31197   20   f    straight       berkeley, california  0.559427
23695    23695   21   m    straight  san francisco, california  0.559414